!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name:"viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title #{self.class.name.split('::').last} rating 
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity: "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin: "anonymous"}
    %link{type: "text/css", rel: "stylesheet", href: "style.css"}
  %body
    .container
      -all.each do |movie|
        .row
          .col-md
          .col-md-8
            %h2{class: "movie_title"}= movie.title_ru
        .row
          .col-md{class: "picture_container"}
            %img{src:"images#{movie.poster_id}", class: "rounded mx-auto d-block", alt: "images#{movie.poster_id}"}
          .col-md-8
            .row
              .col
                %h6{class: "collection_column_header_imdb"} IMDB:
                %a{class: "imdb_rating", href: movie.link}= movie.rating
                %h6{class: "collection_budget"} Budget:
                %div{class: "collection_budget"}= movie.budget
                
              .col-6
                %h6{class: "collection_column_header_stars"}Stars: 
                %div{class: "collection_actors"}= movie.actors.join(',')
              .col
                %h6{class: "collection_column_header_director"}Director:
                %div{class: "collection_director"}= movie.director
        .row{class: "divider_row"}
          